@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-size: 18px;
}
input, button{
    width: 200px;
    border: 2px solid rgb(139, 135, 135);
}
.container-1{
    width: 40vw;
    color: aliceblue;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url(./photo-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 17rem;
    height: 17rem;
}
.logo-text{
    font-size: 5rem;
}
.credit{
    font-size: larger;
    padding-bottom: 16px;
}

.container-2{
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: #eeececb4;
}
.text-container{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 15% 0% 0% 8%;
    font-size: 26px;
}
.want{
    margin-top: 48px;
}

form{
    background-color: #fff;
    height: 33%;
}
fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin-left: 8%;
    margin-top: 3%;
}
fieldset legend{
    font-size: 32px;
    margin-bottom: 1%;
}
fieldset p{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
p label{
    font-size: 28px;
}
p input{
    width: 80%;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 28px;
    border-radius: 5px;
    padding: 6px;
}
input:focus {
    border: 3px solid #555;
  }

input[type=password]:focus {
    border: 3px solid #ad3f3f;
  }
.last-section{
    display: flex;
    height: 33%;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 4%;
    font-size: 24px;
}

.last-section button{
    padding: 12px;
    font-size: 20px;
    background-color: rgb(109, 136, 69);
    border-radius: 6px;
    border: 2px solid black;
    width: 30%;
}
.last-section a{
    color: rgb(109, 136, 69);
}